workflows/[AI/LangChain] Telegram chatbot powered by AI.json
{
  "active": true,
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Is user message": {
      "main": [
        [
          {
            "node": "is reply or mention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is user message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is reply or mention": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-07T06:17:21.587Z",
  "id": "Dx97B9C58xhCDn20",
  "meta": null,
  "name": "[AI/LangChain] Telegram chatbot powered by AI",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-3.5-turbo-16k",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "98ec8934-f2a1-484b-ac8c-921ef7f3efe5",
      "name": "Chat OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1180,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "1mi8gx4pkRwuF8js",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}_{{ $('Telegram Trigger').item.json.message.from.id }}_gilfoyle ",
        "contextWindowLength": 30
      },
      "id": "0cd7299c-20f4-4249-a652-782eaf01b0c2",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1480,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "11be2fb9-ac8a-4df8-893a-8bafaa267548",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        1800,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "74df71fd-6803-4ea3-a777-1714a51456b7",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        880,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.message.from.is_bot }}",
              "value2": "={{ $json.message.from.is_bot }}"
            }
          ]
        }
      },
      "id": "420fe56f-9ef8-4c57-ac06-d8d88f37b49a",
      "name": "Is user message",
      "type": "n8n-nodes-base.if",
      "position": [
        720,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Telegram trigger on every message so we need to filter-out bot messages",
        "height": 264.4999999999997,
        "width": 542.581395348837
      },
      "id": "5a73e6d7-9792-4f78-b95e-5b04d13b1e00",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        171
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "803394c4-dcc6-4040-b0ba-e93b48c410ab",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        1680,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "g5Hdr2ypM4GHnQx1",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Tools which Agent can use to accomplish the task\n",
        "height": 228,
        "width": 293
      },
      "id": "e18ae2f0-2b58-4423-ace0-a3bc49cb4a35",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Conversation history is stored in memory using channel id as key",
        "height": 233,
        "width": 248
      },
      "id": "318040c2-630d-4dd8-8ed2-7ca758750d93",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### The chat LM to process the prompt",
        "height": 233,
        "width": 260
      },
      "id": "1fbc5d2a-b78a-4803-ac76-a51c25aec92c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Send agent's output as Telegram message\n",
        "height": 223,
        "width": 280
      },
      "id": "8d37ed9f-cfb8-4938-ba4d-829c9fd53288",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        165
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "0d0632cc-8160-4c70-b0c6-801021977040",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        480,
        240
      ],
      "webhookId": "f2cef0ee-7acd-4822-8469-0effa38cbee5",
      "credentials": {
        "telegramApi": {
          "id": "TPtS8VGWKq5Fa1zl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "id": "4936aab2-7f41-4550-a098-37a0be7704d9",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1060,
        220
      ],
      "credentials": {
        "telegramApi": {
          "id": "TPtS8VGWKq5Fa1zl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {
          "remove_keyboard": true
        },
        "additionalFields": {}
      },
      "id": "d16bf0c1-1b7e-4c58-8889-1ced43d65db3",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2040,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "TPtS8VGWKq5Fa1zl",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.ravilushqa.dev/webhook/d491d5ce-729e-4d73-b9d0-aa01c9a07f16/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63d9a6c6-9c1c-4eac-8f63-023d267fd467",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1820,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "regex",
              "value2": "/ботя/i"
            },
            {
              "value1": "={{ $json.message.reply_to_message.from.username }}",
              "value2": "RavilushqaBot"
            },
            {
              "value1": "={{ $json.message.chat.type }}",
              "value2": "=private"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "4ccd6b00-6858-49fd-bf5b-79021119868e",
      "name": "is reply or mention",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0d675c2b-e0c3-4194-8426-fccc00eebf11",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1900,
        580
      ]
    },
    {
      "parameters": {
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Вы - Гилфойл из телешоу \"Силиконовая долина\". Усиливайте свою прямоту и цинизм, не терпя некомпетентности. Отвечая на вопросы, будьте откровенно пренебрежительны, переходите сразу к делу, не обращая внимания на чувства других. Ваш сарказм должен быть острым, а юмор должен отходить на второй план, уступая место резким замечаниям.\nСделайте все возможное, чтобы ответить на вопросы. Не стесняйтесь использовать любые доступные средства для поиска нужной информации, но только в случае необходимости. "
        }
      },
      "id": "9d7494c4-1fff-4373-b3bd-90dc884656fd",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1300,
        225
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-07T16:02:13.827Z",
  "versionId": "b6ed68f9-1cc6-47dd-aa2f-3d370a60d754"
}