workflows/[AI/LangChain] Appointment Scheduling.json
{
  "active": false,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-07T09:47:29.288Z",
  "id": "7tT9cSRI4xOftvkz",
  "meta": null,
  "name": "[AI/LangChain] Appointment Scheduling",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false
        }
      },
      "id": "2edb7214-2563-4b00-95b3-f132d31b82fd",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "rz6dX8JslWpR8obN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=Please evaluate the following email to determine if it suggests scheduling a meeting or a call:\nSubject: {{ $json.Subject }}\nSnippet: {{ $json.snippet }}\nIndicate your assessment by responding with \"true\" if it suggests a meeting or call, or \"false\" otherwise. Use lowercase for your response.\n"
      },
      "id": "778b9ed9-37a5-417e-b7ef-bc7c4294036d",
      "name": "LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        600,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "193032cd-b468-4b46-aa0d-b26058130673",
      "name": "Chat OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        620,
        460
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "1mi8gx4pkRwuF8js",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.response.text.toLowerCase() }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "46c49b05-c37f-4ef6-8698-e939d32a9d1e",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        980,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "Calendar Availability",
        "description": "Call this tool to get my calendar availability as stringified JSON array.",
        "workflowId": "IvPvjG8AhkOxm8cF"
      },
      "id": "5ee1071d-c38d-423f-82a1-660dfaf7ab12",
      "name": "Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1440,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0
        }
      },
      "id": "5cc799b7-675a-4211-a253-43355cd73128",
      "name": "Chat OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1300,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "1mi8gx4pkRwuF8js",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.To }}",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "e74064dd-e938-4d1a-89b4-f453136fbb4f",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1680,
        220
      ],
      "typeVersion": 2,
      "credentials": {
        "gmailOAuth2": {
          "id": "rz6dX8JslWpR8obN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check if incoming email is about appointment\n",
        "height": 113.95348837209309,
        "width": 693.1395348837211
      },
      "id": "0f42ac40-cdd1-4572-b688-d13cff20be09",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get calendar availability and compose a response",
        "height": 80,
        "width": 603.1395348837211
      },
      "id": "c97a1e01-4298-4197-bcf4-c86c55b9ba64",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=Sender: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nEmail Text: {{ $('Gmail Trigger').item.json.snippet }}",
        "options": {}
      },
      "id": "b0d78218-7a62-49e2-96b2-aecd4149abcf",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1300,
        220
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-07T09:47:29.288Z",
  "versionId": "3db0333b-39b7-4a96-8909-a9a4051068ba"
}