workflows/[AI/LangChain] Telegram chatbot powered by AI.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is user message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is user message": {
      "main": [
        [
          {
            "node": "is reply or mention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is reply or mention": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-07T06:17:21.587Z",
  "id": "Dx97B9C58xhCDn20",
  "meta": null,
  "name": "[AI/LangChain] Telegram chatbot powered by AI",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4-1106-preview",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "74f41ea4-ca61-428e-844e-b331c10602c8",
      "name": "Chat OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -260,
        1295
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "1mi8gx4pkRwuF8js",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}_gilfoyle ",
        "contextWindowLength": 10
      },
      "id": "e12fcfa9-0e5c-44c0-9203-a53a15d27352",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        40,
        1295
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f2e38f16-df23-49f3-9c57-7d0375fab3c2",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        360,
        1295
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "818be171-9501-464b-b2dc-9118b171b660",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -560,
        1155
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.message.from.is_bot }}",
              "value2": "={{ $json.message.from.is_bot }}"
            }
          ]
        }
      },
      "id": "a298a666-07cf-41ba-bea6-00e828432bb6",
      "name": "Is user message",
      "type": "n8n-nodes-base.if",
      "position": [
        -720,
        955
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Telegram trigger on every message so we need to filter-out bot messages",
        "height": 264.4999999999997,
        "width": 542.581395348837
      },
      "id": "d6fdafcd-3c26-4eca-b64b-4951cd28af3d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        886
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "824927d6-1902-4187-b78d-22aac1687099",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        240,
        1295
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "g5Hdr2ypM4GHnQx1",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Tools which Agent can use to accomplish the task\n",
        "height": 228,
        "width": 293
      },
      "id": "3489fe57-6f4e-4f86-a2d8-bbd3769c797e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        1215
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Conversation history is stored in memory using channel id as key",
        "height": 233,
        "width": 248
      },
      "id": "20703287-6ca6-47ad-a699-d8b35b1d323a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        1215
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### The chat LM to process the prompt",
        "height": 233,
        "width": 260
      },
      "id": "6c665dab-7c3b-45c4-b5c6-0c163d1ac846",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        1215
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Send agent's output as Telegram message\n",
        "height": 223,
        "width": 280
      },
      "id": "601bcbce-e4cd-4c2e-b621-56f9b0229518",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "5a0e56b9-7f4f-4d15-850a-92c076689f8f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        955
      ],
      "webhookId": "f2cef0ee-7acd-4822-8469-0effa38cbee5",
      "credentials": {
        "telegramApi": {
          "id": "TPtS8VGWKq5Fa1zl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "id": "d0dd979d-5d61-4cf2-a66b-99a220081cbe",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -380,
        935
      ],
      "credentials": {
        "telegramApi": {
          "id": "TPtS8VGWKq5Fa1zl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {
          "remove_keyboard": true
        },
        "additionalFields": {}
      },
      "id": "7ac81d56-b9f6-4fc0-94e5-4c724d9a2554",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        600,
        955
      ],
      "credentials": {
        "telegramApi": {
          "id": "TPtS8VGWKq5Fa1zl",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.ravilushqa.dev/webhook/d491d5ce-729e-4d73-b9d0-aa01c9a07f16/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "671c832a-5bc8-4e96-9fa6-878c7f2d040e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        380,
        955
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "regex",
              "value2": "/ботя/i"
            },
            {
              "value1": "={{ $json.message.reply_to_message.from.username }}",
              "value2": "RavilushqaBot"
            },
            {
              "value1": "={{ $json.message.chat.type }}",
              "value2": "=private"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "16010541-1fd8-490a-937f-0a9b384cbf8a",
      "name": "is reply or mention",
      "type": "n8n-nodes-base.if",
      "position": [
        -560,
        955
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e596614e-06dd-49a5-a0bd-3d1d8525ade6",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        460,
        1295
      ]
    },
    {
      "parameters": {
        "text": "={{ $('Telegram Trigger').item.json.message.from.first_name }}:  {{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Вы - Гилфойл из телешоу \"Силиконовая долина\". Усиливайте свою прямоту и цинизм, не терпя некомпетентности. Отвечая на вопросы, будьте откровенно пренебрежительны, переходите сразу к делу, не обращая внимания на чувства других. Ваш сарказм должен быть острым, а юмор должен отходить на второй план, уступая место резким замечаниям.\nСделайте все возможное, чтобы ответить на вопросы. Не стесняйтесь использовать любые доступные средства для поиска нужной информации, но только в случае необходимости. "
        }
      },
      "id": "6036948e-e6d7-4834-848a-dfcce5c3039a",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -140,
        940
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-11-08T06:28:46.195Z",
  "versionId": "21c07ddf-b965-40fe-bf15-04e47f537981"
}