workflows/Notion English Dictionary.json
{
  "active": true,
  "connections": {
    "Fetch added word": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete": {
      "main": [
        [
          {
            "node": "parse json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update examples": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json": {
      "main": [
        [
          {
            "node": "Update examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-12T06:16:51.517Z",
  "id": "Q0nHiJwDPP5Ai0UE",
  "name": "Notion English Dictionary",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Fetch added word').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Meaning|rich_text",
              "textContent": "={{ $json.definition }}"
            },
            {
              "key": "Examples|rich_text",
              "textContent": "={{ $json.examples.join('\\n') }}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "={{ $json.topics }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68f783fe-8536-47c3-8d73-414bae87ed41",
      "name": "Update examples",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1260,
        360
      ],
      "credentials": {
        "notionApi": {
          "id": "NZq7lCXJOaksSAOi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "197323071",
        "text": "=[n8n][dict] added:  {{ $json.name }}",
        "additionalFields": {}
      },
      "id": "e19e069a-e1a9-4927-8e32-a65935886bcc",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1460,
        360
      ],
      "credentials": {
        "telegramApi": {
          "id": "TPtS8VGWKq5Fa1zl",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "36eaa5be-e21f-4950-9678-49036f4318ce",
          "mode": "list",
          "cachedResultName": "EnglishDict",
          "cachedResultUrl": "https://www.notion.so/36eaa5bee21f4950967849036f4318ce"
        }
      },
      "id": "9c3c5a46-7641-443b-8ff3-bf63f21db7b0",
      "name": "Fetch added word",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        660,
        360
      ],
      "credentials": {
        "notionApi": {
          "id": "NZq7lCXJOaksSAOi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=I want you to act as an English dictionary that provides JSON-formatted responses. When I input a word, your reply should include four fields: \"word\" containing the word I asked about, \"definition\" providing its meaning, \"examples\" as an array of sentences demonstrating the word's usage, and \"topics\" as an array listing relevant subject areas where the word is commonly used. The entire response should be in valid JSON format."
            },
            {
              "content": "=My first word is \"{{ $json['Word or phrase'] }}\"."
            }
          ]
        },
        "options": {}
      },
      "id": "d7ded482-0247-49ba-af69-1b5523ba628c",
      "name": "Complete",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        860,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "1mi8gx4pkRwuF8js",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.message.content);"
      },
      "id": "5ffbc946-0440-4659-b617-880bf78de66f",
      "name": "parse json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2023-09-12T06:16:00.000Z"
    },
    "node:Fetch added word": {
      "lastTimeChecked": "2023-09-18T13:58:00.000Z",
      "possibleDuplicates": [
        "ca74e803-3f16-4410-bd70-800b119dc16a"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-09-18T13:58:56.266Z",
  "versionId": "0900bcb8-e2f3-4177-8bba-9a2a912e9c0f"
}