workflows/Notion English Dictionary.json
{
  "active": true,
  "connections": {
    "Complete": {
      "main": [
        [
          {
            "node": "parse json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update examples": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json": {
      "main": [
        [
          {
            "node": "Update examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-12T06:16:51.517Z",
  "id": "Q0nHiJwDPP5Ai0UE",
  "name": "Notion English Dictionary",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Merge').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Meaning|rich_text",
              "textContent": "={{ $json.definition }}"
            },
            {
              "key": "Examples|rich_text",
              "textContent": "={{ $json.examples.join('\\n') }}"
            },
            {
              "key": "Trigger AI|checkbox"
            }
          ]
        },
        "options": {}
      },
      "id": "68f783fe-8536-47c3-8d73-414bae87ed41",
      "name": "Update examples",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2020,
        360
      ],
      "credentials": {
        "notionApi": {
          "id": "NZq7lCXJOaksSAOi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=I want you to act as an English dictionary that provides JSON-formatted responses. When I input a word, your reply should include four fields: \"word\" containing the word I asked about, \"definition\" providing its meaning, \"examples\" as an array of sentences demonstrating the word's usage, and \"topics\" as an array listing relevant subject areas where the word is commonly used. The entire response should be in valid JSON format."
            },
            {
              "content": "=My first word is \"{{ $json['Word or phrase'] }}\"."
            }
          ]
        },
        "options": {}
      },
      "id": "d7ded482-0247-49ba-af69-1b5523ba628c",
      "name": "Complete",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1660,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "1mi8gx4pkRwuF8js",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.message.content);"
      },
      "id": "5ffbc946-0440-4659-b617-880bf78de66f",
      "name": "parse json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['Trigger AI'] }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "0d357a09-45ab-4bd1-9785-5478a606d377",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        540
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "36eaa5be-e21f-4950-9678-49036f4318ce",
          "mode": "list",
          "cachedResultName": "EnglishDict",
          "cachedResultUrl": "https://www.notion.so/36eaa5bee21f4950967849036f4318ce"
        }
      },
      "id": "2dee223f-6e7b-4dfe-9ea3-65838e6d6b35",
      "name": "Update",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        700,
        540
      ],
      "credentials": {
        "notionApi": {
          "id": "NZq7lCXJOaksSAOi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "36eaa5be-e21f-4950-9678-49036f4318ce",
          "mode": "list",
          "cachedResultName": "EnglishDict",
          "cachedResultUrl": "https://www.notion.so/36eaa5bee21f4950967849036f4318ce"
        }
      },
      "id": "9c3c5a46-7641-443b-8ff3-bf63f21db7b0",
      "name": "Add",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        700,
        360
      ],
      "credentials": {
        "notionApi": {
          "id": "NZq7lCXJOaksSAOi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a809dab7-1345-45d8-8ef2-51bf2c9dde51",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        840,
        360
      ]
    },
    {
      "parameters": {},
      "id": "66229501-0629-4630-9a83-177a4bf75fa5",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1200,
        380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbbdecde-b1f4-4562-9cf8-2ede05a2ab80",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "fb9a5588-7f4f-4695-9bc2-665c57562374",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1420,
        380
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2023-09-12T06:16:00.000Z"
    },
    "node:Fetch added word": {
      "lastTimeChecked": "2023-09-23T06:28:00.000Z",
      "possibleDuplicates": [
        "330826ab-99ce-4714-bc91-eec6dc9b89c6",
        "1cf71a85-8fc0-41d1-b4f7-21782ad8164b"
      ]
    },
    "node:Update": {
      "lastTimeChecked": "2023-09-23T13:28:00.000Z",
      "possibleDuplicates": [
        "95e70e7f-ddda-4e93-8e9f-306d56906d14"
      ]
    },
    "node:Add": {
      "lastTimeChecked": "2023-09-23T13:28:00.000Z",
      "possibleDuplicates": [
        "95e70e7f-ddda-4e93-8e9f-306d56906d14"
      ]
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-09-23T13:28:58.793Z",
  "versionId": "c0f67924-f198-4f70-8c3a-35f3ecca0e6e"
}